absl-py==1.0.0
astunparse==1.6.3
autopep8==1.6.0
bert-score==0.3.11
blis==0.7.6
bpemb==0.3.3
cachetools==5.0.0
catalogue==2.0.6
certifi==2021.10.8
charset-normalizer==2.0.12
click==7.1.2
colorama==0.4.4
conllu==4.4.1
cycler==0.11.0
cymem==2.0.6
cymysql==0.9.18
Cython==0.29.28
dataclasses==0.6
datasets==1.2.1
Deprecated==1.2.13
dill==0.3.4
dm-tree==0.1.6
docopt==0.6.2
editdistance==0.6.0
en-ner-bc5cdr-md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.4.0/en_ner_bc5cdr_md-0.4.0.tar.gz
filelock==3.6.0
flair==0.10
Flask==2.0.3
flatbuffers==2.0
fonttools==4.29.1
ftfy==6.1.1
gast==0.5.3
gdown==3.12.2
gensim==4.1.2
gin-config==0.5.0
google-api-core==2.5.0
google-api-python-client==2.39.0
google-auth==2.6.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-bigquery==2.34.0
google-cloud-core==2.2.2
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==2.3.0
googleapis-common-protos==1.55.0
grpcio==1.44.0
h5py==3.6.0
httplib2==0.20.4
huggingface-hub==0.4.0
idna==3.3
importlib-metadata==4.4.0
importlib-resources==5.4.0
itsdangerous==2.1.0
Janome==0.4.2
Jinja2==3.0.3
joblib==1.1.0
kaggle==1.5.12
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
langcodes==3.3.0
langdetect==1.0.9
language-tool-python==2.7.0
lemminflect==0.2.2
libclang==13.0.0
lru-dict==1.1.7
lxml==4.8.0
Markdown==3.3.6
MarkupSafe==2.1.0
matplotlib==3.5.1
more-itertools==8.8.0
mpld3==0.3
multiprocess==0.70.12.2
murmurhash==1.0.6
mysql-connector-python==8.0.28
nltk==3.7
nmslib==2.1.1
num2words==0.5.10
numpy==1.22.2
oauth2client==4.1.3
oauthlib==3.2.0
opencv-python-headless==4.5.5.62
opt-einsum==3.3.0
overrides==3.1.0
Owlready2==0.36
packaging==21.3
pandas==1.4.1
pathy==0.6.1
Pillow==9.0.1
pkg_resources==0.0.0
preshed==3.0.6
promise==2.3
proto-plus==1.20.3
protobuf==3.19.4
psutil==5.9.0
py-cpuinfo==8.0.0
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.1
pycocotools==2.0.4
pycodestyle==2.8.0
pydantic==1.8.2
PyMedTermino==0.3.3
pyparsing==3.0.7
pysbd==0.3.4
PySocks==1.7.1
python-dateutil==2.8.2
python-slugify==6.1.1
pytz==2021.3
PyYAML==6.0
regex==2022.3.2
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
sacremoses==0.0.47
scikit-learn==1.0.2
scipy==1.8.0
scispacy==0.4.0
segtok==1.5.11
sentencepiece==0.1.95
seqeval==1.2.2
six==1.16.0
smart-open==5.2.1
spacy==3.0.8
spacy-alignments==0.8.4
spacy-legacy==3.0.9
spacy-loggers==1.0.1
sqlitedict==2.0.0
srsly==2.4.2
tabulate==0.8.9
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-addons==0.16.1
tensorflow-datasets==4.5.2
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.24.0
tensorflow-metadata==1.7.0
tensorflow-model-optimization==0.7.1
tensorflow-text==2.8.1
termcolor==1.1.0
terminaltables==3.1.10
text-unidecode==1.3
textattack==0.3.4
tf-estimator-nightly==2.8.0.dev2021122109
tf-models-official==2.4.0
tf-slim==1.1.0
thinc==8.0.13
threadpoolctl==3.1.0
tokenizers==0.11.6
toml==0.10.2
torch==1.10.2
tqdm==4.49.0
transformers==4.17.0
typeguard==2.13.3
typer==0.3.2
typing_extensions==4.1.1
uritemplate==4.1.1
urllib3==1.26.8
wasabi==0.9.0
wcwidth==0.2.5
Werkzeug==2.0.3
Wikipedia-API==0.5.4
word2number==1.1
wrapt==1.13.3
xxhash==3.0.0
zipp==3.7.0
